{# settings/settings.html #}
{% extends "settings/base.html" %}
{% load url from future %}

{% block title %}{% endblock %}  

{% block content %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">icanhazmusic</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="{% url 'apps.updates.views.read_updates' %}">Updates</a></li>
                            <li><a href="{% url 'apps.search.views.search' %}">Search</a></li>
                            <li class="active"><a href="{% url 'apps.settings.views.settings' %}">Settings</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <form>
                        <legend>Your settings</legend>
                        <label class="checkbox">
                            <input type="checkbox">
                                Send me an email when updates are made to my searches.
                            </input>
                        </label>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div> <!-- /container -->

{% endblock %}
