{# search/search.html #}
{% extends "search/base.html" %}
{% load url from future %}

{% block title %}{% endblock %}  

{% block content %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">icanhazmusic</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="{% url 'apps.updates.views.read_updates' %}">Updates</a></li>
                            <li class="active"><a href="{% url 'apps.search.views.search' %}">Search</a></li>
                            <li><a href="{% url 'apps.settings.views.settings' %}">Settings</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container" id="search_container">
            <div class="row">
                <div class="span12">
                    <div class="alert alert-info"><button class="close" data-dismiss="alert" type="button">×</button><strong>You're new here!</strong> This is the search page. Here you can not only search for new release but then tell us that you want to get emails about future updates to each search. Close this box to make it go away!</div>

                    <form class="form-search" action="{% url 'apps.search.views.search' %}" method="GET">
                        <div class="input-append">
                            <input name="q" type="text" class="span4 search-query" value="{{ clean_query }}">
                            <button type="submit" class="btn">Search</button>
                        </div>
                    </form>

                    {% if is_search_in_progress %}
                    <script type="text/javascript">
                        var search_uuid = "{{ search_uuid }}";
                        var is_search_finished_uri = "{{ is_search_finished_uri }}";
                    </script>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="span9">
                    {% if search %}
                    <p>There are {{ search.results|length }} result(s) for search "{{ search.query }}".</p>
                    <table class="table table-striped table-bordered table-hover">
                        <caption></caption>
                        {% if search.results|length > 0 %}
                        <thead>
                            <tr>
                                <th></th>
                                <th>Release title</th>
                                <th>Label</th>
                                <th>Date released</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in search.results %}
                            <tr>
                                <td><a href="{{ result.uri }}"><img src="{{ result.image }}" /></a></td>
                                <td><a href="{{ result.uri }}">{{ result.title }}</a></td>
                                <td>{{ result.label }}</td>
                                <td>{{ result.date_as_string }}</td>
                                <td>{{ result.source }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div> <!-- /container -->

{% endblock %}
