{# landing/index.html #}
{% extends "landing/base.html" %}
{% load url from future %}

{% block title %}{% endblock %}  

{% block content %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">icanhazmusic</a>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>I Can Has Tunes!</h1>
                <p>Helps DJs keep on top of new releases.</p>
                <p><ul>
                    <li>Search for music across all the major sites!</li>
                    <li>Save you searches and get updated whenever there are new releases.</li>
                    <li>Convenient, easy, fast!</li>
                </ul></p>
                <p><a class="btn btn-primary btn-large" href={% url 'apps.updates.views.read_updates' %}>Login using email</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Search</h2>
                    <p>Rather than search over all of Beatport, Juno, Discogs, etc., here you can perform one search and get all the results at once.</p>
                </div>
                <div class="span4">
                    <h2>Updates</h2>
                    <p>Let us do the legwork for you! Whenever there are new releases based on criteria you specify we'll send you an email.</p>
               </div>
                <div class="span4">
                    <h2>Easy</h2>
                    <p>Rather than learning how to use all the obtuse interfaces of all the other sites get used to our simple, direct, and convenient interface.</p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Icanhazmusic 2012</p>
            </footer>

        </div> <!-- /container -->

{% endblock %}
